<template>
<v-container>
  <v-layout row>
    <v-flex sm6 offset-sm3>
      <v-card>
        <v-card-text>
          <v-container>
            <v-form @submit.prevent="onSignIn" ref="form">
              <v-layout row>
                <v-text-field
                  name="email"
                  label="Mail"
                  required
                  v-model="email"
                  :rules="[v => !!(v && v.match(/.@./)) || 'A valid e-mail address is required']"
                  type="email"
                ></v-text-field>
              </v-layout>
              <v-layout row>
                <v-text-field
                  name="password"
                  label="Password"
                  required
                  v-model="password"
                  :rules="[v => (v.length > 0) || 'The password is required']"
                  type="password"
                ></v-text-field>
              </v-layout>
              <v-layout row>
                <v-btn type="submit" :disabled="formInvalid || loading" :loading="loading">
                  Sign In
                  <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                  </span>
                </v-btn>
              </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {
  computed: {
    formInvalid () {
      return !this.email || !this.password
    },

    loading () {
      return this.$store.getters.loading
    },

    user () {
      return this.$store.getters.user
    }
  },

  data () {
    return {
      email: '',
      password: ''
    }
  },

  methods: {
    onSignIn () {
      if (!this.$refs.form.validate()) {
        return
      }
      this.$store.dispatch('signUserIn', {
        email: this.email,
        password: this.password
      })
    }
  },

  watch: {
    user (value) {
      if (value) {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
