<template>
<v-container>
  <v-layout row wrap>
    <v-flex sm6 class="text-xs-center text-sm-right">
      <v-btn large router to="/meetups" class="info">Explore Meetups</v-btn>
    </v-flex>
    <v-flex sm6 class="text-xs-center text-sm-left">
      <v-btn large router to="/meetup/new" class="info">Organize Meetup</v-btn>
    </v-flex>
  </v-layout>
  <v-layout class="mt-2">
    <v-flex>
      <div class="text-xs-center" v-if="loading">
        <v-progress-circular indeterminate class="primary--text"></v-progress-circular>
      </div>
      <v-carousel v-else>
        <v-carousel-item v-for="(item, i) in meetups" :src="item.imageUrl" :key="i" :to="meetupUrl(item.id)">
          <div class="title">{{ item.title }}</div>
        </v-carousel-item>
      </v-carousel>
    </v-flex>
  </v-layout>
  <v-layout row wrap class="mt-2">
    <v-flex class="text-xs-center">
      <p>Join our awesome meetups!</p>
    </v-flex>
  </v-layout>
</v-container>
</template>

<style scoped>
.title {
  background: rgba(0, 0, 0, .5);
  bottom: 60px;
  color: #fff;
  left: 50%;
  padding: 20px;
  position: absolute;
  transform: translateX(-50%);
}
</style>


<script>
export default {
  computed: {
    loading () {
      return this.$store.getters.loading
    },

    meetups () {
      return this.$store.getters.featuredMeetups
    }
  },

  methods: {
    meetupUrl (id) {
      return {
        name: 'meetup',
        params: { id }
      }
    }
  }
}
</script>
