<template>
<v-dialog
  persistent
  v-model="registerDialog"
  width="350px"
>
  <v-btn
    class="primary"
    slot="activator"
  >
    {{ userIsRegistered ? 'Unregister' : 'Register' }}
  </v-btn>

  <v-card>
    <v-container>
      <v-layout row>
        <v-flex>
          <v-card-title v-if="userIsRegistered">Unregister from Meetup?</v-card-title>
          <v-card-title v-else>Register for Meetup?</v-card-title>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout wrap>
        <v-flex>
          <v-card-text>You can always change your decision later on.</v-card-text>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-card-actions>
            <v-btn
              class="red--text darken-1"
              @click="registerDialog = false"
              flat
            >Cancel</v-btn>
            <v-btn
              class="green--text darken1"
              @click="onAgree"
              flat
            >Confirm</v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</v-dialog>
</template>

<script>
export default {
  computed: {
    userIsRegistered () {
      return this.$store.getters.user.registeredMeetups.findIndex(meetupId => meetupId === this.meetupId) > -1
    }
  },

  data () {
    return {
      registerDialog: false
    }
  },

  methods: {
    onAgree () {
      this.$store.dispatch(this.userIsRegistered ? 'unregisterUserFromMeetup' : 'registerUserForMeetup', this.meetupId)
      this.registerDialog = false
    }
  },

  props: ['meetupId']
}
</script>
