<template>
  <v-app>
    <v-navigation-drawer
      absolute
      temporary
      v-model="sideNav"
    >
      <v-list>
        <v-list-tile v-for="(item, i) in activeMenuItems" :key="i" :to="item.link">
          <v-list-tile-action>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            {{ item.title }}
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar dark class="primary">
      <v-toolbar-side-icon
        class="hidden-sm-and-up"
        @click="sideNav = !sideNav"
      ></v-toolbar-side-icon>
      <v-toolbar-title>
        <v-btn flat large to="/">
          DevMeetup
        </v-btn>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat v-for="(item, i) in activeMenuItems" :key="i" :to="item.link">
          <v-icon left>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <main>
      <v-layout v-if="hasAlert">
        <v-flex>
          <app-alert></app-alert>
        </v-flex>
      </v-layout>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>


<script>
export default {
  computed: {
    activeMenuItems () {
      const authenticatedUserPresent = this.$store.getters.user !== null
      return this.menuItems.filter(menuItem => menuItem.authenticatedUserOnly === authenticatedUserPresent)
    },

    hasAlert () {
      return this.$store.getters.error
    }
  },

  data () {
    return {
      menuItems: [
        { authenticatedUserOnly: true, icon: 'supervisor_account', link: '/meetups', title: 'View Meetups' },
        { authenticatedUserOnly: true, icon: 'room', link: '/meetup/new', title: 'Organize Meetup' },
        { authenticatedUserOnly: true, icon: 'person', link: '/profile', title: 'Profile' },
        { authenticatedUserOnly: false, icon: 'face', link: '/sign-up', title: 'Sign Up' },
        { authenticatedUserOnly: false, icon: 'lock_open', link: '/sign-in', title: 'Sign In' },
        { authenticatedUserOnly: true, icon: 'exit_to_app', link: '/sign-out', title: 'Sign Out' }
      ],
      sideNav: false
    }
  }
}
</script>
