<template>
<v-alert error dismissible @input="onClose" :value="true">
  {{ message }}
</v-alert>
</template>

<script>
export default {
  computed: {
    message () {
      const error = this.$store.getters.error
      let message = 'Internal Server Garbage'
      if (error && error.message) {
        message = error.message
      }
      return message
    }
  },

  methods: {
    onClose () {
      this.$store.dispatch('clearError')
    }
  }
}
</script>
