<template>
<v-container>
  <v-layout row>
    <v-flex sm6 offset-sm3>
      <h1>Create a New Meetup</h1>
    </v-flex>
  </v-layout>
  <v-layout row>
    <v-flex>
      <v-form @submit.prevent="onCreateMeetup" ref="form">
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <v-text-field
              name="title"
              label="Title"
              required
              :rules="[v => (v.length > 0) || 'The title is required']"
              v-model="title"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <v-text-field
              name="location"
              label="Location"
              required
              :rules="[v => (v.length > 0) || 'The location is required']"
              v-model="location"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <v-btn
              class="primary ml-0"
              @click="onPickFile"
              type="button"
            >
              <v-icon left>cloud_upload</v-icon>
              Upload Image
            </v-btn>
            <input
              accept="image/jpeg, image/jpg, image/png"
              @change="onFilePicked"
              ref="fileInput"
              style="display:none"
              type="file"
            >
            <v-btn
              @click="onRemoveImage"
              type="button"
              v-if="imagePicked"
            >
              <v-icon left>cancel</v-icon>
              Remove Image
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <img :src="imageUrl" width="100%">
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <v-text-field
              name="description"
              label="Description"
              required
              multi-line
              :rules="[v => (v.length > 0) || 'The description is required']"
              v-model="description"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <p>Choose a date &amp; time</p>
            <v-date-picker
              class="mb-2"
              name="date"
              label="date"
              landscape
              full-width
              reactive
              required
              :rules="[v => (v.length > 0) || 'The date is required']"
              v-model="dateAsString"
            ></v-date-picker>
            <v-time-picker
              name="date"
              label="date"
              format="24hr"
              landscape
              full-width
              reactive
              required
              :rules="[v => (v.length > 0) || 'The time is required']"
              v-model="time"
            ></v-time-picker>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex sm6 offset-sm3>
            <v-btn class="primary ml-0" :disabled="formInvalid" type="submit">Create Meetup</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {
  computed: {
    dateAsString: { // FIXME: is the v-date-picker component broken? It doesn't want to accept a Date object
      get () {
        return typeof this.date === 'string' ? this.date : `${this.date.getFullYear()}-${this.date.getMonth() + 1}-${this.date.getDate()}`
      },
      set (newDate) {
        this.date = newDate
      }
    },
    formInvalid () {
      return !this.date || !this.description || !this.image || !this.location || !this.time || !this.title
    },
    imagePicked () {
      return this.image
    }
  },

  data () {
    return {
      date: new Date(),
      description: '',
      image: null,
      imageUrl: '',
      location: '',
      time: new Date(),
      title: ''
    }
  },

  methods: {
    onCreateMeetup () {
      if (!this.$refs.form.validate()) {
        return
      }
      const meetup = {
        date: this.submittableDateTime(this.date, this.time),
        description: this.description,
        image: this.image,
        location: this.location,
        title: this.title
      }
      this.$store.dispatch('createMeetup', meetup)
      this.$router.push({ name: 'meetups' })
    },

    onFilePicked (event) {
      const imageFile = event.target.files[0]
      // const filename = imageFile.name
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.imageUrl = fileReader.result
      })
      fileReader.readAsDataURL(imageFile)
      this.image = imageFile
    },

    onPickFile () {
      this.$refs.fileInput.click()
    },

    onRemoveImage () {
      this.imageUrl = ''
      this.image = null
      this.$refs.fileInput.value = null
    },

    submittableDateTime (date, time) {
      const submittableDate = new Date(date)
      let hour, minute
      if (typeof time === 'string') {
        hour = time.match(/^(\d+)/)[1]
        minute = time.match(/:(\d+)/)[1]
      } else {
        hour = time.getHours()
        minute = time.getMinutes()
      }
      submittableDate.setHours(hour)
      submittableDate.setMinutes(minute)
      return submittableDate
    }
  }
}
</script>
