<template>
<v-container>
  <v-layout row wrap>
    <v-flex class="text-xs-center" v-if="loading">
      <v-progress-circular indeterminate class="primary--text"></v-progress-circular>
    </v-flex>
    <v-flex sm10 offset-sm1 md8 offset-md2 v-for="meetup in meetups" :key="meetup.id" class="mb-2" v-else>
      <v-card class="info">
        <v-container fluid>
          <v-layout row>
            <v-flex xs5 sm4 md3>
              <v-card-media
                height="130px"
                :src="meetup.imageUrl"
              ></v-card-media>
            </v-flex>
            <v-flex xs7 sm8 md9>
              <v-card-title primary-title class="mt-0">
                <div>
                  <h2 class="white--text">{{ meetup.title }}</h2>
                  <p>{{ meetup.date | date }}</p>
                </div>
              </v-card-title>
              <v-card-actions>
                <v-btn flat :to="meetupUrl(meetup.id)">
                  <v-icon left light>arrow_forward</v-icon>
                  View Meetup
                </v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
export default {
  computed: {
    loading () {
      return this.$store.getters.loading
    },

    meetups () {
      return this.$store.getters.loadedMeetups
    }
  },

  methods: {
    meetupUrl (id) {
      return {
        name: 'meetup',
        params: { id }
      }
    }
  }
}
</script>
