<template>
<v-container>
  <v-layout row>
    <v-flex>
      <div class="text-xs-center" v-if="loading">
        <v-progress-circular indeterminate class="primary--text"></v-progress-circular>
      </div>
      <v-card v-else>
        <v-card-title>
          <h1 class="primary--text">
            {{ meetup.title }}
          </h1>
          <template v-if="userIsCreator">
            <v-spacer></v-spacer>
            <app-edit-dialog :meetup="meetup"></app-edit-dialog>
          </template>
        </v-card-title>
        <v-card-media
          height="400px"
          :src="meetup.imageUrl"
        ></v-card-media>
        <v-card-text>
          <div class="info--text">{{ meetup.date | date }} – {{ meetup.location }}</div>
          <div v-if="userIsCreator">
            <app-edit-date :meetup="meetup"></app-edit-date>
            <app-edit-time :meetup="meetup"></app-edit-time>
          </div>
          <p>{{ meetup.description }}</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <app-register-dialog :meetupId="meetup.id" v-if="userIsAuthenticated && !userIsCreator"></app-register-dialog>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import EditMeetupDateDialog from './edit/edit-meetup-date-dialog'
import EditMeetupTimeDialog from './edit/edit-meetup-time-dialog'
import EditMeetupDetailsDialog from './edit/edit-meetup-details-dialog'
import RegisterDialog from './registration/register-dialog'

export default {
  components: {
    'app-edit-date': EditMeetupDateDialog,
    'app-edit-dialog': EditMeetupDetailsDialog,
    'app-edit-time': EditMeetupTimeDialog,
    'app-register-dialog': RegisterDialog
  },

  computed: {
    loading () {
      return this.$store.getters.loading
    },

    meetup () {
      return this.$store.getters.loadedMeetup(this.id)
    },

    userIsAuthenticated () {
      return !!this.$store.getters.user
    },

    userIsCreator () {
      if (!this.userIsAuthenticated) {
        return false
      }
      return this.$store.getters.user.id === this.meetup.creatorId
    }
  },

  props: ['id'] // injected by router/index.js vua `props: true`
}
</script>
