<template>
<v-dialog
  persistent
  v-model="editDialog"
  width="350px"
>
  <v-btn slot="activator">
    Edit Time
  </v-btn>

  <v-card>
    <v-container>
      <v-layout row>
        <v-flex>
          <v-card-title>Edit Meetup Time</v-card-title>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout wrap>
        <v-flex>
          <v-time-picker
            actions
            class="mb-2"
            label="time"
            full-width
            reactive
            required
            :rules="[v => (v.length > 0) || 'The date is required']"
            v-model="editableTime"
          >
            <template slot-scope="{cancel, save}">
              <v-btn
                class="blue--text darken-1"
                @click="editDialog = false"
                flat
              >Close</v-btn>
              <v-btn
                class="blue--text darken-1"
                @click="onSaveChanges"
                flat
              >Save</v-btn>
            </template>
          </v-time-picker>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</v-dialog>
</template>

<script>
export default {
  created () {
    this.editableTime = new Date(this.meetup.date)
  },

  data () {
    return {
      editableTime: null,
      editDialog: false
    }
  },

  methods: {
    onSaveChanges () {
      const newDate = this.submittableDateTime(this.meetup.date, this.editableTime)
      this.$store.dispatch('updateMeetup', {
        date: newDate,
        id: this.meetup.id
      })
      this.editDialog = false
    },

    submittableDateTime (date, time) {
      const submittableDate = new Date(date)
      let hour, minute
      if (typeof time === 'string') {
        hour = time.match(/^(\d+)/)[1]
        minute = time.match(/:(\d+)/)[1]
      } else {
        hour = time.getHours()
        minute = time.getMinutes()
      }
      submittableDate.setHours(hour)
      submittableDate.setMinutes(minute)
      return submittableDate
    }
  },

  props: ['meetup']
}
</script>
