<template>
<v-dialog
  persistent
  v-model="editDialog"
  width="350px"
>
  <v-btn slot="activator">
    Edit Date
  </v-btn>

  <v-card>
    <v-container>
      <v-layout row>
        <v-flex>
          <v-card-title>Edit Meetup Date</v-card-title>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout wrap>
        <v-flex>
          <v-date-picker
            actions
            class="mb-2"
            name="date"
            label="date"
            full-width
            reactive
            required
            :rules="[v => (v.length > 0) || 'The date is required']"
            v-model="dateAsString"
          >
            <template slot-scope="{cancel, save}">
              <v-btn
                class="blue--text darken-1"
                @click="editDialog = false"
                flat
              >Close</v-btn>
              <v-btn
                class="blue--text darken-1"
                @click="onSaveChanges"
                flat
              >Save</v-btn>
            </template>
          </v-date-picker>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</v-dialog>
</template>

<script>
export default {
  computed: {
    dateAsString: { // FIXME: is the v-date-picker component broken? It doesn't want to accept a Date object
      get () {
        return typeof this.editableDate === 'string' ? this.editableDate : `${this.editableDate.getFullYear()}-${this.editableDate.getMonth() + 1}-${this.editableDate.getDate()}`
      },
      set (newDate) {
        this.editableDate = newDate
      }
    }
  },

  created () {
    this.editableDate = new Date(this.meetup.date)
  },

  data () {
    return {
      editableDate: null,
      editDialog: false
    }
  },

  methods: {
    onSaveChanges () {
      const newDate = new Date(this.meetup.date)
      const editedDate = new Date(this.editableDate)
      const newDay = editedDate.getUTCDate()
      const newMonth = editedDate.getUTCMonth()
      const newYear = editedDate.getUTCFullYear()
      newDate.setUTCDate(newDay)
      newDate.setUTCMonth(newMonth)
      newDate.setUTCFullYear(newYear)
      this.$store.dispatch('updateMeetup', {
        date: newDate,
        id: this.meetup.id
      })
      this.editDialog = false
    }
  },

  props: ['meetup']
}
</script>
