<template>
<v-dialog
  persistent
  v-model="editDialog"
  width="350px"
>
  <v-btn fab slot="activator">
    <v-icon>edit</v-icon>
  </v-btn>

  <v-card>
    <v-container>
      <v-layout row>
        <v-flex>
          <v-card-title>Edit Meetup</v-card-title>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout wrap>
        <v-flex>
          <v-card-text>
            <v-text-field
              name="title"
              label="Title"
              required
              :rules="[v => (v.length > 0) || 'The title is required']"
              v-model="editedTitle"
            ></v-text-field>
          </v-card-text>
        </v-flex>
      </v-layout>
      <v-layout wrap>
        <v-flex>
          <v-card-text>
            <v-text-field
              name="description"
              label="Description"
              required
              multi-line
              :rules="[v => (v.length > 0) || 'The description is required']"
              v-model="editedDescription"
            ></v-text-field>
          </v-card-text>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex>
          <v-card-actions>
            <v-btn flat class="blue--text darken-1" @click="editDialog = false">Close</v-btn>
            <v-spacer></v-spacer>
            <v-btn flat class="blue--text darken-1" @click="onSaveChanges">Save</v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</v-dialog>
</template>

<script>
export default {
  data () {
    return {
      editDialog: false,
      editedDescription: this.meetup.description,
      editedTitle: this.meetup.title
    }
  },

  methods: {
    onSaveChanges () {
      if (this.editedTitle.trim() === '' || this.editedDescription.trim() === '') {
        return
      }
      this.$store.dispatch('updateMeetup', {
        description: this.editedDescription,
        id: this.meetup.id,
        title: this.editedTitle
      })
      this.editDialog = false
    }
  },

  props: ['meetup']
}
</script>
